*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.container{
    width: 800px;
    height: 500px;
    margin:auto;
    border: solid black;
    overflow: hidden;
    position: relative;
}
.slide{
    display:flex;
    width:100%;
    height: 500px;
}
#prevBtn{
    position: absolute;
    z-index: 10;
    left: 5%;
    top: 50%;
}
#nxtBtn{
    position: absolute;
    z-index: 10;
    right: 5%;
    top: 50%;
}